<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Physics App</title>

        <link rel="stylesheet" href="css/style.css">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet">

        

    </head>
    <body>
      <div class="nav-color" >
        <nav class="navbar navbar-expand-lg nav-color">
          <div class="container nav-color">
            <a href="#" class="navbar-brand nav-color"><h2><span class="fw-bold nav-color" style="color: aliceblue;">Company Name</span></h2></a>
            <button style="background-color: rgb(56, 117, 64);" class="navbar-toggler" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" style="background-color: rgb(56, 117, 64);"></span>
            </button>
    
            <div class="collapse navbar-collapse nav-color" id="navbarSupportedContent">
              
              <ul class="navbar-nav ms-auto" subhead="nav-item" subhead="nav-item">
                <li class="nav-item nav-color">
                  <a style="color: aliceblue !important;" href="/" class="nav-link">Home</a>
                </li>
              </ul>
              
              <ul class="navbar-nav" subhead="nav-item">
                <li class="nav-item nav-color" id="post">
                  <a style="color: aliceblue !important;" href="/experiments" class="nav-link">Experiment</a>
                </li> 
              </ul>
              <ul class="navbar-nav me-2" subhead="nav-item">
                <li class="nav-item nav-color" id="post">
                  <a style="color: aliceblue !important;" href="/laws" class="nav-link">Laws</a>
                </li> 
              </ul>
              <ul class="navbar-nav" subhead="nav-item">
                <li class="nav-item nav-color" id="compose">
                  <a style="color: black !important;background-color: aliceblue;" href="/compose" class="font-bold px-3 btn-outline-success py-2 btn btn-light nav-link">Compose Artical</a>
                </li>
              </ul>

              <!-- <ul class="navbar-nav" subhead="nav-item">
                <li class="nav-item nav-color" id="post">
                  <a style="color: aliceblue !important;" href="/post" class="nav-link">Post</a>
                </li> 
              </ul> -->

              <!-- <ul class="navbar-nav " subhead="nav-item">
                <li class="nav-item nav-color" id="search">
                  <a style="color: aliceblue !important;" href="/search" class="nav-link">Search</a>
                </li> 
              </ul> -->
              
              <!-- <ul class="navbar-nav" subhead="nav-item">
                <li class="nav-item nav-color" id="search">
                  <form class="form-inline my-2 my-lg-0 nav-color" id="search" action="/search" method="POST">
                    <input name="searchTitle" class="form-group mr-sm-2 search-bar" type="search" placeholder=" Search for Blog" aria-label="Search">
                    <button class="btn my-2 my-sm-0" style="background-color: white !important;" type="submit">Search</button>
                  </form>
                </li> 
              </ul> -->
              
            </div>
          </div>
        </nav>
      </div>

